@charset "utf-8";

body {
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #FFFFFF; 
    line-height:calc(33/18);
    letter-spacing: 1;   
}

p,h1,h2,h3,h4,a,li {
    margin: 0;
    color: #505050;
}

html { font-size: 62.5%; }

/* 共通 */



/* header */
.header-content {
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    padding: 10px 0 8px 0;
}

.header-title  {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 9.5px;
}

.nav-list ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.4rem;
    line-height:calc(33/14);
}

.foot-print img{
    width: 25.5px;
    display: block;
}

/* main */
#main {
    height:500px ;
    position: relative;
}

.main-img img {
    width: 100%;
}

.main-textbox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.702);
    width: 492px;
    height: 210px;
    top: 152px;
    left: 0;
}

.main-textbox-content {
    padding:19px 0 0 99px;
}

.main-textbox-content p {
    font-size: 2.5rem;
}

.main-textbox-content h1 {
    font-size: 4rem;
    line-height:calc(60/40);
    color:#0D96A0;
    padding-top: 3px;
}