@charset "utf-8";

body {
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #FFFFFF; 
    line-height:calc(33/18);
    letter-spacing: 0;   
    color: #505050;
}

html { 
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

/*----------
 共通 
 ----------*/

/* 足跡-title */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.title::before,
.title::after {
    content: "";
    display: inline-block;
    width: 25.5px;
    height: 25px;
    background-image: url("image/footprint_1.svg");
    margin: 2px 19px 0px;
    background-size: contain;
}

img {
    width: 100%;
    display: block;
}

section {
  scroll-margin-top: 50px;
}

/* inner */
.inner {
    max-width: 940px;
    padding-inline: 30px;
    margin: 0 auto;
}


/* bg-green */
.bg-green {
    background-color: rgba(13, 150, 160, 0.1);;
}

a {
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

@media screen and (min-width:768px) {
    .pc_none {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .sp_none {
        display: none;
    }

    .inner {
    padding-inline: 20px;
    }
}

/*----------
 header 
 ----------*/
header {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header-content {
    max-width: 1080px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 100px;
    margin: 0 auto;
}

.header-title  a{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 9.5px;
    height: 50px;
}

.nav-list ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.4rem;
    line-height:calc(33/14);
}

.nav-list a{
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 5px;
}

.foot-print img{
    width: 25.5px;
    display: block;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .header-content {
        padding: 0 20px;
        gap: 30px;
    }
}

@media screen and (max-width:767px) {
    .header-content {
        padding: 0;
        margin-left: 20px;
    }

    .header-title a{
        font-size: 2.0rem;
        line-height:calc(33/20);
    }
    
    .nav-list {
        display: none;
    }
}

/*----------
 main 
 ----------*/
#main {
    width: 100%;
    position: relative;
    padding-top: 50px;
}

.main-img img {
    width: 100%;
    display: block;
}

.main-textbox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.702);
    width: 492px;
    height: 210px;
    top: 50%;
    transform: translateY(-35%);
    left: 0;
}

.main-textbox-content {
    padding:19px 0 0 99px;
}

.main-textbox-content p {
    font-size: 2.5rem;
}

.main-textbox-content h2 {
    font-size: 4rem;
    line-height:calc(60/40);
    color:#0D96A0;
    margin-top: 3px;
}

@media screen and (min-width:768px) and (max-width:940px) {
    .main-textbox {
        width: 400px;
        height: 170px;
    }

    .main-textbox-content {
        padding:15px 0 0 40px;
    }

    .main-textbox-content p {
        font-size: 2.3rem;
    }

    .main-textbox-content h2 {
        font-size: 3.5rem;
        line-height:calc(40/30);
    }
}

@media screen and (max-width:767px) {
    .main-textbox {
        width: 311px;
        height: 148px;
        top: auto;
        bottom: 0;
        left: 0;
        transform: none;
    }

    .main-textbox-content {
        padding:14px 0 0 20px;
    }

    .main-textbox-content p {
        font-size: 2.0rem;
    }

    .main-textbox-content h2 {
        font-size: 3.0rem;
        line-height:calc(40/30);
    }
}

/*----------
 greeting 
 ----------*/
#greeting {
    padding:60px 0 60px;
    text-align: center;
    position: relative;
}

#greeting h2 {
    font-size: 3rem;
    line-height:calc(50/30);
    color:#0D96A0;
}

#greeting p {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top:15px;
}

.greeting-inner {
    position: relative;
}

.foot-print2 {
    position: absolute;
    display: block;
    width: 83.75px;
    left: 90%;
    top: 69%;
}

.middle_none3 {
    display: none;
}

@media screen and (max-width:900px) {
    #greeting {
        padding: 50px 0 40px;
    }
    
    #greeting h2 {
        font-size: 2.5rem;
        line-height:calc(35/25);
    }

    .foot-print2 {
        width: 68.35px;
        left: 74%;
        top: 75%;
    }

    #greeting p {
        font-size: 1.6rem;
        line-height:calc(30/16);
        margin-top:17px;
    }

    .middle_none3 {
        display: block;
    }
}


@media screen and (max-width:680px) {
    #greeting p {
        text-align: left;
    }

    .middle_none3 {
        display: none;
    }
}

/*----------
 strength 
----------*/
#strength {
    padding: 60px 0;
}

.strength-flex {
    display: flex;
    flex-direction:column;
    gap: 45px;
    margin-top: 40px;
}


.strength-unit {
    display: flex;
    gap: 5.0%;
    margin: 0 auto;
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

  /* text */
.strength-text {
    flex: 1;
}

.strength-text h3 {
    font-size: 2.2rem;
    line-height:calc(33/22);
}

.strength-text p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 20px;
}

  /* img */
.strength-img {
    width: 50%;
}

.middle_none4,
.middle_none7 {
    display: none
}

@media screen and (max-width:767px) {
    #strength {
        padding:45px 0 35px;
    }

    .strength-flex {
        gap: 42px;
        margin-top: 35px;
    }
    
    .strength-unit {
        flex-direction: column-reverse;
        margin: 0;
    }

    .strength-text h3 {
        text-align: center;
        font-size: 2.0rem;
        line-height:calc(30/20);
        margin-top: 28px;
    }

    .strength-text p {
        font-size: 1.6rem;
        line-height:calc(30/16);
        margin-top: 7px;
    }

    .strength-img {
        width: 100%;
    }

    .strength-img img {
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:953px){
    .middle_none2 {
        display: none;
    }
}

@media screen and (min-width:376px) and (max-width:767px){
    .middle_none1 {
        display: none;
    }
}

@media screen and (min-width:351px) and (max-width:375px){
    .middle_none1 {
        display: block;
    }
}

@media screen and (max-width:350px){
    .middle_none1 {
        display: none;
    }
}

@media screen and (max-width:374px){
    .middle_none4,
    .middle_none7 {
        display: block;
    }
}

/*----------
 service 
 ----------*/
#service {
    padding: 60px 0;
}

.service-flex {
    display: flex;
    gap: 5.6%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 45px;
}

.service-item {
    width: 29.5%;
}

  /* text */
.service-text h3 {
    font-size: 2rem;
    line-height:calc(25/20);
    text-align: center;
    margin-top: 13px;
}

.service-text p {
    font-size: 1.7rem;
    line-height:calc(30/17);
    font-weight: 500;
    margin-top: 8px;
}

@media screen and (max-width:767px) {
    #service {
        padding: 38px 0;
    }

    .service-flex {
        flex-direction: column;
        margin-top: 40px;
        gap: 40px;
    }

    .service-item {
        width: 100%;
        padding-top: -7px;
    }

    .service-text h3 {
        line-height:calc(30/20);
        margin-top: 30px;
    }

    .service-text p {
        font-size: 1.6rem;
        line-height:calc(30/16);
        margin-top: 6px;
    }

    .service-item img {
        width: 100%;
    }
}

@media screen and (max-width:767px) and (min-width:519px){
    .service-text p {
        text-align: center;
    }
}

/* information */
#information {
    padding: 58px 0 68px;
}

.information-flex {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
}

.info-row {
    border-bottom: 1px solid #707070;
}

.info-row:first-child {
    border-top: 1px solid #707070;
}

.info-row a{
    display: flex;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    align-items: center;
}

  /* 文字大きさ色 */
.info-row time {
    font-size: 1.7rem;
    line-height:calc(25/17);
    padding-left: 18.5px;
}

.info-row h3 {
    font-size: 2rem;
    line-height:calc(25/20);
    color: #0D96A0;
    padding-left: 25px;
    width: 235px;
}

.info-row p {
    flex: 1;
    font-size: 1.7rem;
    line-height:calc(30/17);
    font-weight: 500;    
}

@media screen and (max-width:767px) {
    #information {
        padding: 40px 0 50px;
    }

    .information-flex {
        margin-top: 40px;
    }

    .information-flex a{
        display: flex;
        flex-direction:column;
    }

    .info-row a {
        display: block;
    }

    .info-row {
        padding-inline: 10px;
    }

    .info-row:nth-of-type(4) p{
        padding-right: 15px;
    }

    .info-row:last-of-type{
        padding-right: 3px;
    }

    .info-row time,
    .info-row h3,
    .info-row p {
        padding: 0;
        display: block;
    }


    .info-row time {
        margin-top: 10px;
    }

    .info-row h3 {
        margin-top: 2px;
    }

    .info-row p {
        font-size: 1.6rem;
        line-height:calc(24/16);
        margin-top: 6px;
        margin-bottom: 16px;
    }
}


/*----------
 access 
 ----------*/
#access {
    padding: 60px 0 65px;
}

.access-flex {
    display: flex;
    gap: 5.2%;
    margin: 0 auto;
    align-items: stretch;
    margin-top: 37px;
}

  /* img */
.access-img {
    width: 50%;
}

.map-frame {
    width: 100%;
    height: 100%;
}

  /* text */
.access-text {
    flex: 1;
    margin-top: 4px;
}

.access-text h3 {
    font-size: 2.2rem;
    line-height:calc(33/22);
    margin-top: -2px;
}

.access-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height:calc(27/18);
}

.access-address p{
    margin-top: 15px;
}

.access-tel p{
    margin-top: 14px;
}

.tel-green {
    color:#0D96A0;
    font-weight: 700;
    font-size: 2.5rem;
    line-height:calc(40/25);
}

.access-email p{
    margin-top: 7px;
    margin-bottom: 27px;
}

.work-box {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding:20px 5px;
}

.work-box p:first-of-type {
    margin-bottom: 14px;
}

.middle_none5 {
    display: none;
}

@media screen and (max-width:767px) {
    #access {
        padding: 40px 0 50px;
    }

    .access-flex {
        flex-direction: column;
        gap: 24px;
    }   

    .access-img {
        width: 100%;
    }

    .map-frame {
        aspect-ratio: 335 / 222;
    }

    .underline {
        max-width: 375px;
    }


    .access-address p{
        font-size: 1.6rem;
        line-height:calc(24/16);
        margin-top: 12px;
    }

    .access-tel p{
        font-size: 1.6rem;
        line-height: 2.7rem;
        margin-top: 6px;
    }

    .sp-only {
        display: block;
    }

    .tel-green {
        font-size: 2.5rem;
        line-height:calc(40/25);
    }

    .access-email p{
        font-size: 1.6rem;
        line-height:calc(24/16);
        margin-bottom: 15px;
    }

    .work-box {
        padding: 12px 0;
    }

    .work-box p {
        font-size: 1.6rem;
        line-height:calc(30/16);
    }

    .work-box p:first-of-type {
        margin-bottom: 1px;
    }
}

@media screen and (max-width:400px) and (min-width:376px) {
    .middle_none5 {
        display: block;
    }
}

@media screen and (min-width:768px) and  (max-width:900px) {
    .middle_none5 {
        display: block;
    }
}

/*----------
 contact 
----------*/
#contact {
    padding: 65px 0 80px;
}

#contact p{
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    line-height:calc(30/17);
    margin-top: 20px;
}

  /* form */
.contact-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
    margin-top: 46px;
}

.form-group {
    display: flex;
}

.form-group label{
    width: 170px;
    font-size: 2rem;
    line-height:calc(33/20);
}

.form-group input,
.form-group textarea {
    flex: 1;
    background-color:#FFFFFF;
    padding: 5px 10px;
    font-size: 1.6rem;
}



.form-group textarea {
    min-height: 300px;
    resize: vertical;
}

  /* button */
button {
    width: 200px;
    height: 50px;
    font-size: 2.5rem;
    line-height:calc(33/25);
    border-radius: 8px;
    background-color: #0D96A0;
    color: #FFFFFF;
    transition: 0.3s;
    display: block;
    text-align: center;
    margin:45px auto 0;
    padding-bottom: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #FFFFFF;
    color: #0D96A0;
}


@media screen and (max-width:767px) {
    #contact {
        padding: 40px 0 50px;
    }
    
    #contact p{
        text-align: left;
        font-size: 1.6rem;
        line-height:calc(30/16);
        margin-top: 35px;
    }

    .contact-flex {
        gap: 19px;
        margin-top: 35px;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group label{
        width: 100%;
        font-size: 1.8rem;
        line-height:calc(33/18);
    }

    .form-group input {
        flex: none;
        height: 50px;
    }

    .form-group textarea {
        width: 100%;
        flex: none;
        height: 300px;
    }

    button {
        max-width: 335px;
        width: 100%;
        height: 40px;
        font-size: 2.0rem;
        line-height:calc(26/20);
        margin-top:53px ;
    }
}

/*----------
 footer 
 ----------*/
footer {
    background-color: #505050;
    color: #FFFFFF;
    padding: 65px 0 67px;
}

.footer-flex {
    max-width: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    text-align: center;
}

.footer-nav-list {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 10px;
}

.footer-nav-list ul {
    display: flex;
    gap: 4px;
}

.footer-nav-list a {
    font-size: 2rem;
    line-height:calc(33/20);
    padding-inline: 5px;
}

.footer-underline {
    border: 1px solid #FFFFFF;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.copyright {
    font-size: 2rem;
    line-height:calc(33/20);
    margin-top: 25px;
}

.icon-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 4px;
}

.icon-list a{
    display: flex;
    align-items: center;
    width: 32px;
    padding: 5px;
}

.middle_none6 {
    display: none;
}


@media screen and (max-width:767px) {
    .footer-flex {
        max-width: 335ppx;
    }

    footer {
        padding: 45px 0;
    }


    .footer-nav-list {
        padding-bottom: 20px;
        gap: 10px;
    }

    .footer-nav-list ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 10px;
    }

    .footer-nav-list a {
        font-size: 1.8rem;
        line-height:calc(33/18);
    }

    .copyright {
        font-size: 1.6rem;
        line-height:calc(33/16);
        margin-top: 13px;
    }

    .icon-list {
        margin-top: 23px;
    }
}

@media screen and (max-width:370px) {
    .middle_none6 {
        display: block;
    }
}